@charset "UTF-8";
@import "./reset.css";

/* #headBox */
#headBox { width: 100%; height: 76px; position: fixed; top: 0; left: 0; background: #fff; box-shadow: 0px 0px 10px rgba(0,0,0,0.4); z-index: 2000;}
#headBox > .inner { width: 980px; height: 100%; margin: 0 auto; display: flex; align-items: center; }
#headBox > .inner > h1 { margin-right: 20px; }
#headBox > .inner > h1 .logo { width: auto; height: 36px; }
#headBox > .inner > .search_box { width: 100%; height: 40px; border: 1px solid #ff843d; margin-right: 20px; border-radius: 4px; overflow: hidden; position: relative; }
#headBox > .inner > .search_box > fieldset { width: 100%; height: 100%; }
#headBox > .inner > .search_box > fieldset #searchPrd { display: block; width: 100%; border: none; height: 100%; padding: 0px 60px 0px 20px ; box-sizing: border-box; font-size: 18px; }
#headBox > .inner > .search_box > fieldset button[type="submit"] { width: 40px; height: 40px; position: absolute; top: 0; right: 0; font-size: 20px; color: #ff843d; background: transparent; }
#headBox > .inner > .download { display: flex;  }
#headBox > .inner > .download > li { white-space: nowrap; border: 1px solid; padding: 0px 20px; height: 40px; line-height: 34px; border-radius: 20px; color : #ff843d; font-size: 18px; box-sizing: border-box; }
#headBox > .inner > .download > li:hover { background: #ff843d; color: #fff; }
#headBox > .inner > .download > li + li {margin-left: 10px; }
#headBox > .inner > .download > li > a > i { font-size: 20px; }

/* #visualBox */
#visualBox { height: 720px; box-sizing: border-box; padding-top: 200px; background-color: #f1f3f5; }
#visualBox > .inner { width: 980px; height: 100%; margin: 0 auto; position: relative; }
#visualBox > .inner > h1 { text-align: center; font-size: 40px; margin-bottom: 10px; }
#visualBox > .inner > h1+p { text-align: center; font-size: 18px; }
#visualBox > .inner > .visual_img {position: absolute; width: 760px; height: 400px; background: url('../img/phone-ee2960c1cbf1e932ac291ad59eacc55ef6dc3cab3e9e4ea4284c4e0256bb9f4c.png') bottom no-repeat; bottom: 0px; left: 0px;}
#visualBox > .inner > .rank_box { width: 210px; position: absolute; top: 100px; left: 770px; }
#visualBox > .inner > .rank_box > h2 {padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #333; text-align: center; font-size: 18px;  }
#visualBox > .inner > .rank_box > ol { counter-reset: rank; }
#visualBox > .inner > .rank_box > ol > li { display: flex; counter-increment : rank; margin-bottom: 16px; font-size: 16px; }
#visualBox > .inner > .rank_box > ol > li::before { content: counter(rank); display: inline-block; font-weight: bold; margin-right: 10px; font-size: 18px; }
#visualBox > .inner > .rank_box > ol > li > a {display: flex; width: 100%; justify-content: space-between; }
#visualBox > .inner > .rank_box > ol.rank_list > li a span{font-size: 12px; }
#visualBox > .inner > .rank_box > ol.rank_list > li:hover a,
#visualBox > .inner > .rank_box > ol.rank_list > li:hover a span{ color: #ff843d; }
#visualBox > .inner > .rank_box > ol > li > a .change { font-size: 12px;}
#visualBox > .inner > .rank_box > ol > li > a .up { color: red; }
#visualBox > .inner > .rank_box > ol > li > a .up::before{ content: "▲"; }
#visualBox > .inner > .rank_box > ol > li > a .down { color: blue; }
#visualBox > .inner > .rank_box > ol > li > a .down::before{ content: "▼";}
#visualBox > .inner > .rank_box > ol > li > a .new { color: red; }
#visualBox > .inner > .rank_box > ol > li > a .nochange::before{ content: "-"; }

/* #hotBox */
#hotBox { padding: 120px 0px; }
#hotBox > .inner { width: 980px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between; }
#hotBox > .inner > h1 { width: 100%; text-align: center; margin-bottom: 50px; font-size: 36px; }
#hotBox > .inner > h1::after{ content: ''; display: block; width: 70px; height: 2px; background-color: #ff843d; margin: 40px auto; }
#hotBox > .inner > article { width: 220px; height: 300px; border: 1px solid #dfdfdf; border-radius: 8px; overflow: hidden; margin-bottom: 40px; }
#hotBox > .inner > article:hover { box-shadow: 0px 8px 10px rgba(0,0,0,0.4); transform: translateY(-6px) }
#hotBox > .inner > article > a { display: block; width: 100%; height: 100%; }
#hotBox > .inner > article > a > .img_prd { height: 160px; overflow: hidden; background-color: #ddd; }
#hotBox > .inner > article > a > .img_prd > img { width: 100%; height: auto; }
#hotBox > .inner > article > a > .prd_information { width: 100%; height: 140px; padding: 16px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: space-between; }
#hotBox > .inner > article > a > .prd_information > .title{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 18px; }
#hotBox > .inner > article > a > .prd_information > .address { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #666; font-size: 16px; }
#hotBox > .inner > article > a > .prd_information > .price { font-weight: 600; font-size: 16px; color: #ff843d; }
#hotBox > .inner > article > a > .prd_information > .interaction { display: flex; font-size: 14px; color: #999; border-top: 1px solid #ddd; padding-top: 10px; }
#hotBox > .inner > article > a > .prd_information > .interaction > p+p { margin-left: 16px; position: relative; }
#hotBox > .inner > article > a > .prd_information > .interaction > p+p::before { content: '·'; position: absolute; left: -9px; }
#hotBox > .inner > article.more { text-align: center;}
#hotBox > .inner > article.more > a { display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap; padding: 80px 0; box-sizing: border-box; }
#hotBox > .inner > article.more > a::before { content: "+"; display: block; width: 100%; font-size: 40px; }

/* #introductionBox */

/* #reviewBox */

/* #footBox */